.main_bar
  .main_bar_topBar
    Products
  %ul.main_bar_contents
    %li.item-list
      = image_tag 'TD1MTHU_SHOE_ANGLE_GLOBAL_MENS_TREE_DASHERS_THUNDER_36019070-22fa-436d-ad91-305fab5e602e.jpg', class:'item-image'
      .item-info
        .item-info__name
          Men's Tree Dashers
        .item-info__price
          %a ¥16,250
      .item-details
        = link_to products_path do
          Details
    %li.item-list
      = image_tag 'TD1MTHU_SHOE_ANGLE_GLOBAL_MENS_TREE_DASHERS_THUNDER_36019070-22fa-436d-ad91-305fab5e602e.jpg', class:'item-image'
      .item-info
        .item-info__name
          Men's Tree Dashers
        .item-info__price
          %a ¥16,250
      .item-details
        = link_to products_path do
          Details
    %li.item-list
      = image_tag 'TD1MTHU_SHOE_ANGLE_GLOBAL_MENS_TREE_DASHERS_THUNDER_36019070-22fa-436d-ad91-305fab5e602e.jpg', class:'item-image'
      .item-info
        .item-info__name
          Men's Tree Dashers
        .item-info__price
          %a ¥16,250
      .item-details
        = link_to products_path do
          Details
    %li.item-list
      = image_tag 'TD1MTHU_SHOE_ANGLE_GLOBAL_MENS_TREE_DASHERS_THUNDER_36019070-22fa-436d-ad91-305fab5e602e.jpg', class:'item-image'
      .item-info
        .item-info__name
          Men's Tree Dashers
        .item-info__price
          %a ¥16,250
      .item-details
        = link_to products_path do
          Details
    %li.item-list
      = image_tag 'TD1MTHU_SHOE_ANGLE_GLOBAL_MENS_TREE_DASHERS_THUNDER_36019070-22fa-436d-ad91-305fab5e602e.jpg', class:'item-image'
      .item-info
        .item-info__name
          Men's Tree Dashers
        .item-info__price
          %a ¥16,250
      .item-details
        = link_to products_path do
          Details