.main_bar
  .main_bar_topBar
    Products
  %ul.main_bar_contents
    %li.item-list
      = image_tag 'https://cdn.allbirds.com/image/fetch/q_auto,f_auto/w_1000,f_auto,q_auto,b_rgb:f5f5f5/https://cdn.shopify.com/s/files/1/0261/6714/8641/products/TD1MTHU_SHOE_ANGLE_GLOBAL_MENS_TREE_DASHERS_THUNDER_36019070-22fa-436d-ad91-305fab5e602e.png?v=1587838222', class:'item-image'
      .item-info
        .item-info__name
          Men's Tree Dashers
        .item-info__price
          %a ¥16,250
      .iteme-details
        %a Details
    %li.item-list
      = image_tag 'https://cdn.allbirds.com/image/fetch/q_auto,f_auto/w_1000,f_auto,q_auto,b_rgb:f5f5f5/https://cdn.shopify.com/s/files/1/0261/6714/8641/products/TD1MTHU_SHOE_ANGLE_GLOBAL_MENS_TREE_DASHERS_THUNDER_36019070-22fa-436d-ad91-305fab5e602e.png?v=1587838222', class:'item-image'
      .item-info
        .item-info__name
          Men's Tree Dashers
        .item-info__price
          %a ¥16,250
      .iteme-details
        %a Details
    %li.item-list
      = image_tag 'https://cdn.allbirds.com/image/fetch/q_auto,f_auto/w_1000,f_auto,q_auto,b_rgb:f5f5f5/https://cdn.shopify.com/s/files/1/0261/6714/8641/products/TD1MTHU_SHOE_ANGLE_GLOBAL_MENS_TREE_DASHERS_THUNDER_36019070-22fa-436d-ad91-305fab5e602e.png?v=1587838222', class:'item-image'
      .item-info
        .item-info__name
          Men's Tree Dashers
        .item-info__price
          %a ¥16,250
      .iteme-details
        %a Details
    %li.item-list
      = image_tag 'https://cdn.allbirds.com/image/fetch/q_auto,f_auto/w_1000,f_auto,q_auto,b_rgb:f5f5f5/https://cdn.shopify.com/s/files/1/0261/6714/8641/products/TD1MTHU_SHOE_ANGLE_GLOBAL_MENS_TREE_DASHERS_THUNDER_36019070-22fa-436d-ad91-305fab5e602e.png?v=1587838222', class:'item-image'
      .item-info
        .item-info__name
          Men's Tree Dashers
        .item-info__price
          %a ¥16,250
      .iteme-details
        %a Details
    %li.item-list
      = image_tag 'https://cdn.allbirds.com/image/fetch/q_auto,f_auto/w_1000,f_auto,q_auto,b_rgb:f5f5f5/https://cdn.shopify.com/s/files/1/0261/6714/8641/products/TD1MTHU_SHOE_ANGLE_GLOBAL_MENS_TREE_DASHERS_THUNDER_36019070-22fa-436d-ad91-305fab5e602e.png?v=1587838222', class:'item-image'
      .item-info
        .item-info__name
          Men's Tree Dashers
        .item-info__price
          %a ¥16,250
      .iteme-details
        %a Details