.head-bar
  .head-bar__logo
    FAVO
  %form.Form
    .Form__contents
      %input.Form__inputContent{type: 'text', placeholder: '商品検索はこちら'}
      %input.Form__submit{type: 'submit', value: 'GO'}  
    .user-name
      = current_user.name
    .Form__icons
      = link_to edit_user_path(current_user) do
        = icon('fa', 'cog',class:"contents__btn")
      = icon('fa', 'user',class:"contents__btn")
.wrapper
  = render "side_bar"
  = render "main_bar"