.side_bar
  .side_bar_title
    Category
  .side-bar__categories
    .side-bar__categories__top-items
      .side-bar__categories__top-items-category-name
        ・Sports
      .side-bar__categories__top-items-icons
        = icon('far', 'edit',class:"contents__btn") 
        = icon('fa', 'cog',class:"contents_btn_cog")
    .side-bar__categories__top-items
      .side-bar__categories__top-items-category-name
        ・Games
      .side-bar__categories__top-items-icons
        = icon('far', 'edit',class:"contents__btn") 
        = icon('fa', 'cog',class:"contents_btn_cog")
    .side-bar__categories__top-items
      .side-bar__categories__top-items-category-name
        ・Foods
      .side-bar__categories__top-items-icons
        = icon('far', 'edit',class:"contents__btn") 
        = icon('fa', 'cog',class:"contents_btn_cog")

          